
/*General styling*/
#wrap {
	position: relative;
	width: 800px;
	height: 500px;
}

.canvasParent {
	position: relative;
	width: 800px;
	height: 500px;
	transform-origin: top left;
	-ms-transform: scale(0.83, 0.83);
	-webkit-transform: scale(0.83, 0.83);
	transform: scale(0.83, 0.83);
}

#canvasHolder {
	width: 100%;
	height: 100%;
	position: absolute;
/*	-ms-transform: scale(0.83, 0.83);
	-webkit-transform: scale(0.83, 0.83);
	transform: scale(0.83, 0.83);*/
	/*transform-origin: top left;*/
	-webkit-box-shadow: -2px 2px 20px -6px rgba(64,64,64,0.61);
	-moz-box-shadow: -2px 2px 20px -6px rgba(64,64,64,0.61);
	box-shadow: -2px 2px 20px -6px rgba(64,64,64,0.61);
	opacity: 0;
}

#navBar-flag {
	top: 0px;
	z-index: 100;
	position: fixed;
	height: 55px;
	width: 100%;
	background-color: none;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
}



.body-div-flag {
	width: 100%;
	position: absolute;
	margin-top: calc(50vh - 250px);
	margin-bottom: 0;
}

hr {
	border: 0;
	border-bottom: 0;
	border-top: 1px solid #bfbfbf;
	padding: 5px;
}

.state-stats {
	height: 327px;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 0;
	padding-right: 5%;
	padding-top: 15px;
	opacity: 0;
	position: relative;
	border-top: 1px solid #353535;
}

#stateName {
	opacity: 0;
}

p {
	font-size: 16px;
	line-height: 16px;
	color: #707070;
}

/*
 *  Scroll bar
 */

 #style-3::-webkit-scrollbar-track
 {
 }

 #style-3::-webkit-scrollbar
 {
 	width: 6px;

 }

 #style-3::-webkit-scrollbar-thumb
 {
 	background-color: #adadad;
 	border-top: solid 18px #DBDBDB;

 }


 .footer-div-flag {
 	background-color: #bfbfbf;
 	width: 100%;
 	position: fixed;
 	bottom: 0;
 	margin-top: 0;
 	padding-top: 8px;
 	padding-bottom: 8px;
 	opacity: 0;
 }

 .back-mobile {
 	display: none;
 }
 .back-desktop {
 	display: block;
 }


 /*responsive styling*/

 /* Smartphones (portrait and landscape) ----------- */
 @media only screen and (min-device-width : 320px) and (max-width : 767px)  {
 	.state-stats {
 		height: auto;
 		padding-bottom: 10px;
 	}

 	.body-div-flag {
 		width: 100%;
 		position: absolute;
 		margin-top: 65px;
 		margin-bottom: 0;
 	}

 	.back-mobile {
 		display: block;
 	}
 	

 	.footer-div-flag {
 		position: relative;
 	}
 }

 /* iPads (portrait and landscape) ----------- */
 @media only screen  and (min-width : 768px) and (max-width : 965px) {
 	.canvasParent {
 		-ms-transform: scale(0.55, 0.55);
 		-webkit-transform: scale(0.55, 0.55);
 		transform: scale(0.55, 0.55);
 	}
 	.state-stats {
 		height: 195px;
 	}
 }

 /* iPads large */
 @media only screen  and (min-width : 966px) and (max-width : 1223px) {
 	.canvasParent {
 		-ms-transform: scale(0.7, 0.7);
 		-webkit-transform: scale(0.7, 0.7);
 		transform: scale(0.7, 0.7);
 	}
 	.state-stats {
 		height: 269px;
 	}
 }

 /* Large screens ----------- */
 @media only screen  and (min-width : 1824px) {
 }

