
#canvasHolder {
	width: 800px;
	height: 500px;
	position: relative;
	-ms-transform: scale(0.83, 0.83);
    -webkit-transform: scale(0.83, 0.83);
    transform: scale(0.83, 0.83);
    transform-origin: top left;
}

#navBar-flag {
	top: 0px;
	z-index: 100;
	position: fixed;
	height: 55px;
	width: 100%;
	background-color: none;
	background-repeat: no-repeat;
	background-size: cover;
}

.body-div-flag {
	width: 100%;
	position: absolute;
	margin-top: calc(50vh - 250px);
	margin-bottom: 0;
}

hr {
	border: 0;
	border-bottom: 0;
	border-top: 1px solid #bfbfbf;
	padding: 5px;
}

.state-stats {
	height: 343px;
	overflow-y: scroll;
	top: 0;
	padding-right: 5%;
}

/*
 *  Scroll bar
 */

#style-3::-webkit-scrollbar-track
{
	background-color: #e5e5e5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #e5e5e5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #adadad;
}


.footer-div-flag {
	background-color: #bfbfbf;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin-top: 0;
	padding-top: 8px;
	padding-bottom: 8px;
}




