/*/*//*responsive styles
*/

/* Smartphones (portrait and landscape) ----------- */


@media screen and (max-width: 767px) and (orientation: landscape) {
	.site-wrapper {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.header-bg {
		background-size: cover; 
	}
	
	.header-div {
		position: fixed;
		height: 100vh;
		width: 100%;
	}

	.body-div {
		background-color: #efefef;
		width: 100%;
		position: absolute;
		margin-top: 100vh;
		padding-top: 30px;
	}

	p {
		font-size: 22px;
		line-height: 30px;
	}
	h1 {
		font-size: 15vw;
		margin-left: -1vw;
		text-align: left;
	}

	h2 {
		font-size: 3vw;
		line-height: 4vw;
		text-align: left;
		width: 50vw;
	}

	.hero-title {
		position: relative;
		top: 1vh;
		left: 0;
	}

	.hero-subtitle {
		position: absolute;
		bottom: 5vh;
	}

}

@media only screen and (min-device-width : 0) and (max-width : 767px) and (orientation: portrait)  {
	.site-wrapper {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.header-bg {
		background-size: cover; 
	}
	
	.header-div {
		position: fixed;
		height: 100vh;
		width: 100%;
	}

	.body-div {
		background-color: #efefef;
		width: 100%;
		position: absolute;
		margin-top: 100vh;
		padding-top: 30px;
	}

	p {
		font-size: 22px;
		line-height: 30px;
	}

h1 {
	font-size: 40vw;
	line-height: 0;
	letter-spacing: -.015em;
	margin-left: -1vw;
	text-align: left;
}


h2 {
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	width: 90vw;
}

.hero-title {
	position: relative;
	top: 5vh;
	left: 0;
}

.hero-subtitle {
	position: absolute;
	bottom: 10vh;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen  and (min-width : 768px) and (max-width : 1223px) {
	.site-wrapper {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.header-bg {
		background-size: 100%; 
	}

	h2 {
		font-size: 2vw;
		line-height: 3.1vw;
	}

	p {
		font-size: 22px;
		line-height: 30px;
	}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) and (max-width : 1823px) {
	.site-wrapper {
		width: 1080px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.header-bg {
		background-size: 100%; 
	}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	.site-wrapper {
		width: 1600px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.header-bg {
		background-size: 100%; 
	}
/*
	.subtitle {
		padding-top: 1.6em;
	}

	.page-header {
		height: 295px;
	}

	.flag-mockup {
		height: 350px;
	}
	.hero-title {
		margin-top: 175px;
	}
	h2 {

	}
	p {
		font-size: 27px;
		line-height: 38px;
	}
	h6 {
		font-size: 36px;
		line-height: 40px;
		}*/
	}

	/* Smartphones (portrait and landscape) ----------- */
/*@media only screen and (max-width : 1223px) {
	#canvasHolder {
		width: 800px;
		height: 500px;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transform:scale(0.5);
	}
}/*/