body {
	padding: 0; 
	margin: 0;
	background-color: #dbdbdb;
	overflow-x: hidden;
} 

.header-div {
	position: fixed;
	height: 380px;
	width: 100%;
}

.body-div {
	background-color: #dbdbdb;
	width: 100%;
	position: absolute;
	margin-top: 380px;
}

#navBar{
	top: 380px;
	z-index: 100;
	position: absolute;
	height: 55px;
	width: 100%;
	background-color: none;
	display: none;
	background-repeat: no-repeat;
	background-size: cover;
}
.nav-bar-overlay{
	position: absolute;
	width: 100%;
	height: 55px;
	background-color: rgba(0,0,0,.25);
	z-index: 0;
}

.nav-title {
	margin-top: -29px;
	margin-left: 25px;
	z-index: 1000;
	position: relative;
}

.nav-logo {
	right: 25px;
	margin-top: -67px;
	z-index: 1000;
	cursor: pointer;
	position: absolute;
}

.footer-div {
	background-color: #bfbfbf;
	width: 100%;
	margin-top: 35px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.hero-text {
	padding-top: 35px;
}

.logo {
	position: fixed;
	right: 25px;
	margin-top: 15px;
	z-index: 1000;
	cursor: pointer;
}

.site-wrapper {
	width: 1080px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
}

.header-bg-overlay {
	position: absolute;
	width: 100vw;
	height: 100%;
	background-color: rgba(0,0,0,.25);
}

.header-bg {
	position: absolute;
	width: 100vw;
	height: 100%;
	background-color: none;
}

.hero-title {
	margin-top: 17%;
}

.page-header {
	height: 295px;
}

.flag-mockup {
	width: 100%;
	background-size: contain;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url('../assets/flag-mockups_ohio.png');
}

/*Typography*/

a {
	text-decoration: underline;
	color: inherit;
}

h1 {
	font-family: 'Yantramanav', sans-serif;
	font-weight: 400;
	font-size: 170px;
	line-height: 0px;
	color: #353535;
	text-align: center;
}

h2 {
	font-family: 'Yantramanav', sans-serif;
	font-weight: 400;
	font-size: 38px;
	line-height: 42px;
	text-align: center;
	color: #353535;
}

h3 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 13px;
	line-height: 23px;
	letter-spacing: .07em;
	text-transform: uppercase;
	text-align: center;
	color: #707070;
}

h4 {
	font-family: 'Yantramanav', sans-serif;
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;
	text-align: center;
	color: #353535;
}

h4 a {
	text-decoration: none !important;
}

h5 {
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	color: #353535;
	margin-top: .75em;
}

p {
	font-family: 'Yantramanav', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 31px;
	color: #353535;
}




.subtitle {
	margin-top: -30px;
}

.nav-links a{
	margin-top: 42px;
	font-family: 'Roboto Mono', monospace;
	text-decoration: underline;
	-moz-text-decoration-color: #ffffff; /* Code for Firefox */
	text-decoration-color: #ffffff;
	font-weight: 300;
	font-size: 14px;
	line-height: 1px;
	display: block;
	color: #828282;
}

/*#canvasHolder {
	width: 800px;
	height: 500px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.selectCountry {
	position: absolute;
	margin-left: 25px;
	margin-top: 0;
}

.countryName {
	position: absolute;
	right: 25px;
	margin-top: 0;
}

#stats {
	height: 40px;
	position: absolute;
	bottom: 5px;
	animation: marquee 30s linear infinite;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	width: 100%;
	border:none; 
	padding:0; 
	margin:0;
}

#stats:hover {
	animation-play-state: paused
}

@keyframes marquee {
	0%   { text-indent: 100% }
	100% { text-indent: -125% }
}

#submit {
	background-color: #000000; 
	border: 1px solid #BBBBBB;
	color: white;
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	line-height: 1px;
}

#submit:hover {
	background-color: #000000; 
	border: 1px solid #f74a2c;
	cursor: pointer;
	color: white;
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	line-height: 1px;
}

button:focus { 
	outline: none; 
}

input[type=text] {
	width: 17px;
	padding: 0 0;
	margin: 0 0;
	box-sizing: border-box;
	color: #BBBBBB;
	font-family: 'Roboto Mono';
	text-transform: lowercase;
	font-size: 11.5px;
	line-height: 1px;
	background-color: #000000;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px #f74a2c solid;
	text-align: center;
}

input:focus { 
	outline: none; 
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
	color:
	text-shadow: none;
	-webkit-text-fill-color: initial;
	}*/



