/*/*responsive styles
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-width : 767px)  {
	.site-wrapper {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.header-bg {
		background-size: 120%; 
	}

	#navBar{
	background-size: 120%; 
}

	.header-div {
		position: fixed;
		height: 240px;
		width: 100%;
	}

	.hero-title {
		margin-top: 115px;
	}

	.hero-text {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.body-div {
		margin-top: 240px;
	}

	h1 {
		font-size: 16vw;
	}

	h2 {
		font-size: 28px;
		line-height: 36px;
	}

	p {
		font-size: 22px;
		line-height: 30px;
	}

	.body-text {
	margin-top: -35px;
	margin-bottom: -40px;
}

	.body-text2 {
	margin-top: -15px;
	margin-bottom: -15px;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen  and (min-width : 768px) and (max-width : 1223px) {
	.site-wrapper {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.header-bg {
		background-size: 100%; 
	}
	.header-div {
		position: fixed;
		height: 250px;
		width: 100%;
	}

	.hero-title {
		margin-top: 115px;
	}

	.body-div {
		margin-top: 250px;
	}

	h1 {
		font-size: 120px;
	}

	h2 {
		font-family: 'Yantramanav', sans-serif;
		font-weight: 400;
		font-size: 32px;
		line-height: 36px;
		text-align: center;
		color: #353535;
	}

	p {
		font-size: 22px;
		line-height: 30px;
	}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) and (max-width : 1823px) {
	.site-wrapper {
		width: 1080px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.header-bg {
		background-size: 100%; 
	}
	.page-header {
		height: 295px;
	}

	.subtitle {
		padding-top: 1.6em;
	}

	.flag-mockup {
		height: 350px;
	}

	p {
		font-size: 22px;
		line-height: 30px;
	}

	h4 {

	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	.site-wrapper {
		width: 1080px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.header-bg {
		background-size: 100%; 
	}

	.subtitle {
		padding-top: 1.6em;
	}

	.page-header {
		height: 295px;
	}

	.flag-mockup {
		height: 350px;
	}

	h4 {

	}
}

/* Smartphones (portrait and landscape) ----------- */
/*@media only screen and (max-width : 1223px) {
	#canvasHolder {
		width: 800px;
		height: 500px;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transform:scale(0.5);
	}
}*/