/*
 * Globals
 */

 /* Links */
 a,
 a:focus,
 a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */



 html,
 body.index {
  height: 100%;
/*  background: url('cover_image.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

}

@media (min-width: 760px) {
  .indexBg{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
}

@media (max-width: 759px) {
  .indexBg{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
/*    left: 0;
*/    z-index: -10; 
}
}





html,
body.about {
  height: 100%;
  background-image: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body.project {
  height: 100%;
  background-image: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body.portfolio {

}

html,
body {
  height: 100%;
  background-image: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  z-index: 1000;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  z-index: 1000;

}
.cover-container {
  margin-left: 0;

}

/* Padding for spacing */
.inner {
  padding: 30px;

}


/*
 * Header
 */
 .masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 10000;
}




.masthead-nav > li {
  display: inline-block;
  right: auto;
  z-index: 1000;

}

.masthead-nav > li + li {
  margin-left: 20px;
  z-index: 1000;

}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Hind Madurai', sans-serif;
  color: #2955B6;
  border-bottom: 2px solid transparent;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  z-index: 1000;


}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #2955B6;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #2955B6;
  border-bottom-color: #2955B6;
}

/**/


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
    z-index: 10000;

  }

  .masthead-nav {
    float: right;
    z-index: 1000;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    position: relative;
    left: 110px;
    top: 110px;
  }
}



/*
 * Cover
 */

 .cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

 .mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

 @media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    z-index: 1000;
  }


  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
    z-index: 1000;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */

  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

@media (min-width: 1601px) {
  h1 {
   font-weight: 400;
   font-family: 'Libre Baskerville', serif;
   font-size: 44px;
   line-height: 74px;
   letter-spacing: 0px;
   text-align: left;
   border-bottom: 2px solid transparent;
   color: #2955B6;
 }

 h1 a {
  border-bottom: 2px solid #2955B6;
  line-height: 40px;
  display: inline-block;
  color: #2955B6;

}
h1 a:hover {
  border-bottom: 2px solid #2955B6;
  line-height: 40px;
  display: inline-block;
  color: #2955B6;  
  text-decoration: none;
}

}

@media (max-width: 1600px) {
  h1 {
   font-weight: 400;
   font-family: 'Libre Baskerville', serif;
   font-size: 32px;
   line-height: 64px;
   letter-spacing: 0px;
   text-align: left;
   border-bottom: 2px solid transparent;
   color: #2955B6;
 }

 h1 a {
  border-bottom: 2px solid #2955B6;
  line-height: 32px;
  display: inline-block;
  color: #2955B6;

}
h1 a:hover {
  border-bottom: 2px solid #2955B6;
  line-height: 32px;
  display: inline-block;
  color: #2955B6;  
  text-decoration: none;
}

}



@media (max-width: 949px) {
  h1 {
   font-weight: 400;
   font-family: 'Libre Baskerville', serif;
   font-size: 26px;
   line-height: 42px;
   letter-spacing: 0px;
   text-align: left;
   border-bottom: 2px solid transparent;
   color: #2955B6;

 }



 h1 a {
  border-bottom: 1px solid #2955B6;
  line-height: 32px;
  text-decoration: none;
  display: inline-block;
  color: #2955B6;

}


h1 a:hover {
  border-bottom: 1px solid #2955B6;
  line-height: 32px;
  text-decoration: none;
  display: inline-block;
  color: #2955B6;

}
}

@media (max-width: 650px) {
  h1 {
   font-weight: 400;
   font-family: 'Libre Baskerville', serif;
   font-size: 16px;
   line-height: 32px;
   letter-spacing: 0px;
   text-align: left;
   border-bottom: .5px solid transparent;
   color: #2955B6;

 }



 h1 a {
  border-bottom: .5px solid #2955B6;
  line-height: 22px;
  text-decoration: none;
  display: inline-block;
  color: #2955B6;

}


h1 a:hover {
  border-bottom: .5px solid #2955B6;
  line-height: 22px;
  text-decoration: none;
  display: inline-block;
  color: #2955B6;

}
}

@media (min-width: 1601px) {
  .bio {
    width: 100vw;
    height: 100vh;
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 13%;
    margin-top: 0;
/*    border-bottom: 3px solid #2955B6;
*/    padding-bottom: 0;
  }
}


@media (max-width: 1600px) {
  .bio {
    width: 100vw;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 13%;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .bio {
    width: 100vw;
    height: 100vh;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 0;
    margin-top: 0;
  }
}



@media (min-width: 801px) {
  .thumbnails{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    z-index: 10;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 800px) {
  .thumbnails{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 1%;

  }
}

.port-1{
  display: inline-block;
}

h2 {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Hind Madurai', sans-serif;
  color: #2955B6;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  line-height: 0px;
}

h2.bold {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Hind Madurai', sans-serif;
  color: #2955B6;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: left;
  line-height: 5px;
}

#top-img {
  width: 100%;
  height: auto;
}

@media (min-width: 801px) {
  #top-img img {
    width: 100%;
    height: auto;
    padding-right: 20px;
  }
}

@media (max-width: 800px) {
  #top-img img {
    width: 100%;
    height: auto;
    padding-right: 0px;
  }
}


#photos {
 /* Prevent vertical gaps */
 line-height: 0;

 -webkit-column-count: 2;
 -webkit-column-gap:   0px;
 -moz-column-count:    2;
 -moz-column-gap:      0px;
 column-count:         2;
 column-gap:           0px;
}

@media (min-width: 801px) {
  #photos img {
    padding-top: 35px;
    padding-right: 20px;
    bottom: -10px;

    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-width: 800px) {
  #photos img {
    padding-top: 35px;
    padding-right: 0px;
    bottom: -10px;

    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-width: 1400px) {
  #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 1000px) {
  #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

@media (min-width: 750px) {
  h3 {
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5vw;
    line-height: 5.5vw;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 2px solid transparent;
    color: #2955B6;
  }
}

@media (max-width: 749px) {
  h3 {
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 2px solid transparent;
    color: #2955B6;
  }
}

@media (min-width: 750px) {
  p {
    color: #2955B6;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.7vw;
    line-height: 3.2vw;
    letter-spacing: 0px;
    text-align: center;
  }
}

@media (max-width: 749px) {
  p {
    color: #2955B6;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
  }
}



@media (min-width: 900px) {
  .project_title{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 15%;
  }
}

@media (max-width: 899px) {
  .project_title{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 15%;
  }
}

#hero_img {

}

#hero_img img{
  width: 100%;
  height:auto;
}

@media (min-width: 750px) {
  #addl_img2 img{
    padding: 10px;
    width: 80%;
    height:auto;
  }
}

@media (max-width: 749px) {
  #addl_img2 img{
    padding: 5px;
    width: 80%;
    height:auto;
  }
}

#addl_img2 {
  margin-top: 10%;
  margin-bottom: 10%;

}

@media (min-width: 750px) {
  #addl_img img{
    padding: 10px;
    width: 40%;
    height:auto;
  }
}

@media (max-width: 749px) {
  #addl_img img{
    padding: 5px;
    width: 80%;
    height:auto;
  }
}

#addl_img {
  margin-top: 10%;
  margin-bottom: 10%;

}

.nextback {
  background-color: #DFDFDF;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 1px;
  padding-top: 1px;

}

h4{
  color: #000;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: center;
}

h4 a{
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  letter-spacing: 0px;
  text-align: center;
}

h4 a:hover{
  text-decoration: none;
  color: #2955B6;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  letter-spacing: 0px;
  text-align: center;
  border-bottom: 1px solid #000;

}

p a{
  color: #2955B6;
  border-bottom: 2px solid #2955B6;
  line-height: 32px;
  text-decoration: none;
  display: inline-block;
}


p a:hover{
  color: #2955B6;
  text-decoration: none;
  border-bottom-color: #2955B6;
}

@media (min-width: 1601px) {
  article {
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    width: 79%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;

  }
}

@media (max-width: 1600px) {
  article {
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
    padding-left: 100px;
    padding-right: 100px;
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;

  }
}

@media (max-width: 768px) {
  article {
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1601px) {
  .resumeTitle{
    margin-left:auto;
    margin-right:auto;  
    padding-top: 5%;
    padding-left: 100px;
    padding-right: 100px;
    width: 79%;
  }

}

@media (max-width: 1600px) {
  .resumeTitle{
    margin-left:auto;
    margin-right:auto;  
    padding-top: 5%;
    padding-left: 100px;
    padding-right: 100px;
    width: 91%;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .resumeTitle{
    margin-left:auto;
    margin-right:auto;  
    padding-top: 1%;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    padding-bottom: 0;
  }

}

hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid #2955B6;
  margin: 1em 0;
  padding: 0; 
  width: 5%;
}

@media (min-width: 651px) {
  h5 {
    color: #2955B6;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  h5 a {
    color: #2955B6;
    text-decoration: none;
    border-bottom: solid #2955B6 2px;
  }

  h5 a:hover {
    color: #2955B6;
    text-decoration: none;
    border-bottom: solid #2955B6 2px;
  }
}

@media (max-width: 650px) {
  h5 {
    color: #2955B6;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  h5 a {
    color: #2955B6;
    text-decoration: none;
    border-bottom: solid #2955B6 .5px;
  }

  h5 a:hover {
    color: #2955B6;
    text-decoration: none;
    border-bottom: solid #2955B6 .5px;
  }
}

@media (min-width: 651px) {
  h6 a {
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    color: #2955B6;
  }

  h6 a:hover {
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    color: #2955B6;
  }

  h6{
    color: #2955B6;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: .7em;
  }
}

@media (max-width: 650px) {

  p a{
    color: #2955B6;
    border-bottom: solid #2955B6 .5px;
    line-height: 32px;
    text-decoration: none;
    display: inline-block;
  }

  h6 a {
    line-height: 18px;
    text-decoration: none;
    display: inline-block;
    color: #2955B6;
  }

  h6 a:hover {
    border-bottom: .5px solid #2955B6;
    line-height: 18px;
    text-decoration: none;
    display: inline-block;
    color: #2955B6;
  }

  h6{
    color: #2955B6;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: .7em;
  }
}

/*.hidden {
  display: none;
  z-index: -100;
  }*/

  .full {

  }
  .letters{
    height: 100vh;
    width: 100vw;
    margin: auto;
    position: absolute;
  }


  #drag-1, #drag-2, #drag-3, #drag-4, #drag-5, #drag-6 {
    width: 6vw;
    height: auto;
    min-height: 6.5em;
    background: none;
    padding: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  #drag-1, #drag-2, #drag-3, #drag-4, #drag-5, #drag-6:hover {
    cursor: move;
  }

  #drag-7, #drag-8, #drag-9, #drag-10, #drag-11, #drag-12, #drag-13 {
    width: 6vw;
    height: auto;
    min-height: 6.5em;
    background: none;
    padding: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  #drag-7, #drag-8, #drag-9, #drag-10, #drag-11, #drag-12, #drag-13:hover {
   cursor: move;
 }

 #drag-14, #drag-15, #drag-16, #drag-17, #drag-18, #drag-19, #drag-20 {
  width: 6vw;
  height: auto;
  min-height: 6.5em;
  background: none;
  padding: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
#drag-14, #drag-15, #drag-16, #drag-17, #drag-18, #drag-19, #drag-20:hover {
  cursor: move;
}

#drag-21, #drag-22, #drag-23, #drag-24, #drag-25, #drag-26 {
  width: 6vw;
  height: auto;
  min-height: 6.5em;
  background: none;
  padding: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

#drag-21, #drag-22, #drag-23, #drag-24, #drag-25, #drag-26:hover {
  cursor: move;
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

.draggable {
  position: absolute;
}

h1.name{
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  font-size: 5vw;
  text-align: center;
}

.sketch-holder-holder {
  width: 74vw;
  height: 74vh;
  margin-left: 13vw;
  margin-top: 13vh;
}

h2.footer {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Hind Madurai', sans-serif;
  color: #2955B6;
  border-bottom: 2px solid transparent;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  z-index: 1000;
}

h2.footer a{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Hind Madurai', sans-serif;
  color: #2955B6;
  border-bottom: 2px solid transparent;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  z-index: 1000;
}

h2.footer a:hover {
  text-decoration: none;
}
.prev {
  left: 0;
  height: 20px;
  position: fixed;
  bottom: 40px;
  left: 30px;
}

.next {
  height: 20px;
  position: fixed;
  bottom: 40px;
  right: 30px;
}

.arrow {
  margin-top: 7vw;
}
