/*Boilerplate CSS*/

body {
	margin: auto;
	height: auto;    
	overflow-x:hidden;  
}

h1 {
	font-size: 28px;
	font-family: "europa",sans-serif;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 65px;
	color: #000;
}

h1 a {
	text-decoration: none;
	cursor: pointer;
	transition: all 150ms ease-in-out;
	color: #000;
}

h1 a:hover {
	color: #000;
}

@media (max-width: 500px) {
	h2 {
		font-size: 25px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 35px;
		color: #000;
	}
}

@media (min-width: 501px) {
	h2 {
		font-size: 35px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 50px;
		color: #000;
	}
}

@media (min-width: 851px) {
	h2 {
		font-size: 40px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 55px;
		color: #000;
	}
}

@media (min-width: 1001px) {
	h2 {
		font-size: 50px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 65px;
		color: #000;
	}
}

@media (min-width: 1851px) {
	h2 {
		font-size: 80px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 95px;
		color: #000;
	}
}

@media (max-width: 1600px) {
	h3 {
		font-size: 24px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 1px;
	}
}

@media (min-width: 1601px) {
	h3 {
		font-size: 28px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 1px;
	}
}
@media (min-width: 1601px) {
	h3 {
		font-size: 28px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 1px;
	}
}

@media (max-width: 500px) {
	h4 {
		font-size: 12px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 20px;
	}

	h4 a {
		font-size: 12px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;
	}

	h4 a, a:visited { 
		font-size: 12px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;

	}

	h4 a.glossary-link.active {
		background-color: #0082c9;
	}

	h4 a:hover {
		background-color: #0082c9;
	}
}
@media (min-width: 501px) {
	h4 {
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 20px;
	}

	h4 a {
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;
	}

	h4 a, a:visited { 
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;

	}

	h4 a.glossary-link.active {
		background-color: #0082c9;
	}

	h4 a:hover {
		background-color: #0082c9;
	}
}

@media (min-width: 1001px) {
	h4 {
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 27px;
	}

	h4 a {
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;
	}

	h4 a, a:visited { 
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;

	}

	h4 a.glossary-link.active {
		background-color: #0082c9;
	}

	h4 a:hover {
		background-color: #0082c9;
	}
}

@media (min-width: 1601px) {
	h4 {
		font-size: 18px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 40px;
	}

	h4 a {
		font-size: 18px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;
	}

	h4 a, a:visited { 
		font-size: 18px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;
	}

	h4 a.glossary-link.active {
		background-color: #0082c9;
	}

	h4 a:hover {
		background-color: #0082c9;
	}
}

@media (max-width: 500px) {
	p {
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
	}

	p a{
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		color: #000000;
		border-bottom: .09em #000000 solid;
	}

	p a:hover {
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		color: #000000;
		border-bottom: none;
	}
}

@media (min-width: 501px) {
	p {
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 39px;
	}

	p a {
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 39px;
		color: #000000;
		border-bottom: .09em #000000 solid;
		line-height: 51px;
	}

	p a:hover {
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 39px;
		color: #000000;
		border-bottom: none;
		line-height: 51px;
	}
}
@media (min-width: 1601px) {
	p {
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 51px;
	}

	p a{
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		color: #000000;
		border-bottom: .09em #000000 solid;
		line-height: 51px;
	}

		p a:hover{
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		color: #000000;
		border-bottom: none;
		line-height: 51px;
	}
}

hr {
	position: relative;
}

a{
	text-decoration: none;
}



